.private
.agents

##### FIREBASE #####
# firebase**
# firestore**
# .firebase**
# skills-lock.json

node_modules/
dist/
.DS_Store
*.local
.env
.env.*
!.env.example
*.tsbuildinfo
vite.config.ts.timestamp-*
