.private
.agents
service-account.json

##### FIREBASE #####
**.cache
# firebase**
# firestore**
# .firebase**
# skills-lock.json

node_modules/
dist/
.DS_Store
*.local
.env
.env.*
!.env.example
*.tsbuildinfo
vite.config.ts.timestamp-*
